.form {
  display:grid;
}

.label {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.input {
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
}

.button {
  background-color: rgba(0,0,0,0.50);
  color: white;
  padding: 0.5rem 2rem;
  border: 1px solid #ddd;
  font-size: 1.5rem;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(0,0,0,0.75);
}

@media (min-width:786px) {
  .form {
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    align-items: center;
  }

  .input {
    margin-bottom: 0;
  }
}